@media(max-width: 1200px) {
    .header {
        &-logo {
            width: 20%;
        }
    }
    .bio {
        &-rect {
            &-nickname {
                font-size: 25px;
            }
        }
    }
}

@media(max-width: 1024px) {
    
    .header {
        &-logo {
            
            &-span {
                display: none;
            }
            &-avatar {
                width: 30px;
                height: 30px;
            }
        }
        &-navigate {
            font-size: 13px;
        }
    }

    .content {

        width: 60%;
        margin: 70px auto;
        &-card {

            display: flex;
            justify-content: center;
            &-rect {
                
                margin-top: 10%;
                padding: 12% 40%;
                font-size: 20px;
                &-description {
                    font-size: 13px;
                    color: hsl(282, 67%, 82%);
                }
            }
        }
    }
    .bio {
        &-rect {
            width: 30%;
            &-avatar {
                width: 80%;
            }
        }
    }
}

@media(max-width: 874px) {
    .langs {
        &-wrapper {
            flex-direction: column;
        }
    }
}

@media(max-width: 768px) {
    .header {
        &-wrapper {
            width: 70%;
        }
        
        &-logo {
            &-span {
                display: none;
            }
        }
        &-navigate {
            
            width: 60%;
            font-size: 15px;
        }
    }
    
    .content {
        flex-direction: column;
        &-card {
            &-rect {
                padding: 7% 40%;
                font-size: 20px;
                &-description {
                    font-size: 14px;
                    color: hsl(282, 67%, 82%);
                }
            }
        }
    }
    .bio {
        &-wrapper {
            width: 60%;
        }
        
        &-rect {
            &-nickname {
                font-size: 20px;
            }
        }
        
        &-description {
            &-head {
                font-size: 50px;
            }
            &-text {
                font-size: 16px;
            }
        }
    }
    
}

@media(max-width: 427px){
    .header {
        padding: 0.5% 7%;
        
        &-wrapper {
            width: 90%;
            justify-content: space-evenly;
        }
        
        &-logo {
            &-span {
                display: none;
            }
        }
        &-navigate {
            font-size: 12px;
        }
    }

    .bio {
        &-wrapper {
            width: 70%;
        }
        
        &-rect {
            width: 70%;

            &-nickname {
                margin-top: 1rem;
                font-size: 25px;
            }
        }
        &-description {
            &-head {
                font-size: 45px;
            }
        }
    }
}

@media(max-width: 320px){
    .header {
        &-wrapper {
            flex-direction: column;
        }
        &-logo {
            &-avatar {
                display: none;
            }
        }

        &-navigate {
            width: 90%;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
        }
    }
}