@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Gabarito", sans-serif;
}

.body {
    background-color: #8569c3;

}

.header {
    background-color: #46368b;
    border-radius: 0 0 20px 20px;

    &-wrapper {
        width: 60%;
        margin: 0 auto;
        display: flex;
        padding: 1% 10%;
        justify-content: space-around;
    }

    &-logo {
        color: hsl(259, 70%, 87%);
        font-weight: 600;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        width: 17%;

        &-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        &-span {
            margin: 10px auto;
        }
    }

    &-navigate {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 20px;
        color: hsl(252, 67%, 82%);
        background-color: #46368b;

        &-element {
            margin: 10px auto;
            background-color: #46368b;
            &-link {
                color: hsl(252, 67%, 90%);
                background-color: #46368b;
            }
            &-WIP {
                color: hsl(255, 51%, 80%);
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 100px auto;
    align-items: center;

    &-card {
        display: flex;
        &-rect {
            background-color: #c19ce3;
            padding: 10% 50%;
            border-radius: 10px;
            font-size: 22px;
            cursor: pointer;
            transition: transform ease-out 0.3s;
            text-align: center;
            height: 20%;

            &:hover {
                transform: scale(1.05);
                transition: transform ease-out 0.3s;
            }

            &-head {
                color: hsl(252, 69%, 90%);
                font-weight: 600;
                background-color: #c19ce3;
            }
            &-description {
                font-size: 17px;
                color: hsl(282, 67%, 82%);
            }
        }

    }
}
