@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Gabarito", sans-serif;
}

.body {
    background-color: #8569c3;
}

.header {
    background-color: #46368b;
    border-radius: 0 0 20px 20px;

    &-wrapper {
        width: 60%;
        margin: 0 auto;
        display: flex;
        padding: 0.5% 10%;
        justify-content: space-around;
    }

    &-logo {
        color: hsl(259, 70%, 87%);
        font-weight: 600;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        width: 17%;

        &-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        &-span {
            margin: 10px auto;
        }
    }

    &-navigate {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 20px;
        color: hsl(252, 67%, 82%);
        background-color: #46368b;

        &-element {
            margin: 10px auto;
            background-color: #46368b;
            &-link {
                color: hsl(252, 67%, 90%);
                background-color: #46368b;
            }
            &-WIP {
                color: hsl(255, 51%, 80%);
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 100px auto;
    align-items: center;

    &-card {
<<<<<<< Updated upstream
        display: flex;
        justify-content: center;
        position: relative;
=======
            display: flex;
            justify-content: center;
            position: relative;
            margin: 1.5% auto;
>>>>>>> Stashed changes
        &-rect {
            background-color: #c19ce3;
            padding: 0.3em 1em;
            border-radius: 10px;
            font-size: 22px;
            cursor: pointer;
            transition: transform ease-out 0.3s;
            text-align: center;
            height: 20%;

            &:hover {
                transform: scale(1.05);
                transition: transform ease-out 0.3s;
            }

            &-head {
                color: hsl(252, 69%, 90%);
                font-weight: 600;
                background-color: #c19ce3;
            }
            &-description {
                font-size: 17px;
                color: hsl(282, 67%, 82%);
            }
            &-img {
                width: 5em;
                height: 5em;
                background-color: aliceblue;
                border-radius: 50%;
                border: 5px solid #ebb2e4;
            }
        }
    }
}

.bio {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    color: hsl(285, 82%, 87%);

    &-wrapper {
        width: 50%;
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }

    &-rect {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 3rem;
        width: 20%;
        padding: 5% 3%;
        border-radius: 16px;

        background-color: #b892d2;
        &-avatar {
            border-radius: 50%;
            border: 5px solid #793380;
            margin: 0 auto;
            width: 70%;
        }
        &-nickname {
            display: flex;
            justify-content: center;

            margin-top: 1.5rem;
            font-size: 30px;
            color: hsl(284, 100%, 94%);
        }
    }

    &-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;

        &-head {
            color: hsl(286, 61%, 92%);
            font-size: 70px;
            &-second {
                margin-top: 2rem;
                color: hsl(286, 61%, 92%);
                font-size: 40px;
            }
        }
    }
}

.langs {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    
    &-head {
        color: hsl(286, 61%, 92%);
        font-size: 40px;
    }

    &-wrapper {
        
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 2% ;
        align-items: center;
    }
}

.footer {
    height: 10rem;
    width: 100%;
}
