@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Gabarito", sans-serif;
}

.body {
  background-color: #8569c3;
}

.header {
  background-color: #46368b;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
}
.header-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 0.5% 10%;
  justify-content: space-around;
}
.header-logo {
  color: hsl(259, 70%, 87%);
  font-weight: 600;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  width: 17%;
}
.header-logo-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header-logo-span {
  margin: 10px auto;
}
.header-navigate {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 20px;
  color: hsl(252, 67%, 82%);
  background-color: #46368b;
}
.header-navigate-element {
  margin: 10px auto;
  background-color: #46368b;
}
.header-navigate-element-link {
  color: hsl(252, 67%, 90%);
  background-color: #46368b;
}
.header-navigate-element-WIP {
  color: hsl(255, 51%, 80%);
}

.content {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 100px auto;
  align-items: center;
}
.content-card {
  display: flex;
  justify-content: center;
  position: relative;
}
.content-card-rect {
  background-color: #c19ce3;
  padding: 0.3em 1em;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: transform ease-out 0.3s;
  text-align: center;
  height: 20%;
}
.content-card-rect:hover {
  transform: scale(1.05);
  transition: transform ease-out 0.3s;
}
.content-card-rect-head {
  color: hsl(252, 69%, 90%);
  font-weight: 600;
  background-color: #c19ce3;
}
.content-card-rect-description {
  font-size: 17px;
  color: hsl(282, 67%, 82%);
}
.content-card-rect-img {
  width: 5em;
  height: 5em;
  background-color: aliceblue;
  border-radius: 50%;
  border: 5px solid #ebb2e4;
}

.bio {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  color: hsl(285, 82%, 87%);
}
.bio-wrapper {
  width: 50%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.bio-rect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  width: 20%;
  padding: 5% 3%;
  border-radius: 16px;
  background-color: #b892d2;
}
.bio-rect-avatar {
  border-radius: 50%;
  border: 5px solid #793380;
  margin: 0 auto;
  width: 70%;
}
.bio-rect-nickname {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 30px;
  color: hsl(284, 100%, 94%);
}
.bio-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}
.bio-description-head {
  color: hsl(286, 61%, 92%);
  font-size: 70px;
}
.bio-description-head-second {
  margin-top: 2rem;
  color: hsl(286, 61%, 92%);
  font-size: 40px;
}

.langs {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.langs-head {
  color: hsl(286, 61%, 92%);
  font-size: 40px;
}
.langs-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 2%;
  align-items: center;
}

.footer {
  height: 10rem;
  width: 100%;
}/*# sourceMappingURL=style.css.map */