@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 1400px;
    display: flex;
    margin: 0 auto;
    padding: 16px 0;
    font-size: 16px;
    font-family: "Poppins";
}

.header-logo {
    margin-left: 135px;
    padding: 5.5px 0;
    cursor: pointer;
}

.header-text {
    font-size: 30px;
    margin-left: 20px;
    padding-bottom: 11px;
    font-weight: 700;
    color: #173A56;
    cursor: pointer;
}

.header-list {
    margin: 13px;
    margin-left: 250px;

}

.header-list-element {
    display: inline;
    padding: 7px 0;
    margin: 15px;
    
}

.header-list-element a {
    font-weight: 500;
    color: #22343D;
    transition: margin 0.5s ease-out;
}


.header-list-element a:hover {
    margin: 0 20px;
    transition: all 0.5s ease-out;
    font-weight: 600;
}

.header-signin {
    margin-top: 5px;
    height: 43px;
    padding: 7px 24px;
    font-weight: 600;
    font-family: "Poppins";
    color: #173A56;
    background-color: white;
    border: 1px solid;
    border-color: #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.header-signup {
    margin-top: 5px;
    border: 0;
    height: 43px;
    padding: 5px 24px;
    margin-left: 20px;
    font-weight: 600;
    font-family: "Poppins";
    background-color: #02897A;
    color: white;
    border-color: #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.header-signin:hover {
    transform: scale(1.1);

    transition: all 0.5s ease-out;
}

.header-signup:hover {
    transform: scale(1.1);

    transition: all 0.5s ease-out;
}

.header-theme {
    margin: 8px 0;
    margin-left: 20px;
    margin-top: 10px;
    transition: all 0.5s ease-out;
    
}

.header-theme:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.hero{
    font-family: "Poppins";
    display: flex;
    width: 1400px;
    margin: 0 auto;
    padding: 25px 150px 114px 159px;
    color: #22343D;
    justify-content: center;
}

.hero-info {
    margin-right: 50px;
    position: relative;
}

.hero-info-head {
    font-weight: 700;
    font-size: 40px;
    margin-top: 120px;
}

.hero-info-text {
    font-weight: 400;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 45px;

}

.hero-info-startbtn {

    padding: 15px 41px;
    font-size: 16px;
    font-weight: 700;
    background-color: #02897A;
    border: 0;
    border-radius: 4px;
    color: white;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.hero-info-startbtn:hover {
    transform: scale(1.1);

    transition: all 0.5s ease-out;

}

.hero-info-watchbtn {
    margin-left: 56px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    background-color: white;
    text-decoration: underline;
    color: #02897A;

}

.hero-info-watchbtn svg {
    position: absolute;
    margin-left: -30px;
    margin-top: -2px;
}





